         @font-face {
            font-family: 'ESITC';
            src: url('../fonts/Edwardian Script ITC.ttf') format('truetype');
            /* 添加其他字体格式，如woff2、woff等，以提高兼容性 */
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gab';
            src: url('../fonts/Gabriola.ttf') format('truetype');
            /* 添加其他字体格式，如woff2、woff等，以提高兼容性 */
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            margin: 0;
            padding: 0;
            font-family: Gab;
        }

        html {
            height: 832px;
            font-family: Gab;
        }

        body {
            font-family: Gab;
/*            background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);*/
            background: url(../resource/背景.png) no-repeat;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin: 0;
        }

        .happy-birthday {
            font-size: 150px;
            white-space: pre;
            text-align: center;
            background: linear-gradient(45deg, gold, blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: ESITC;
        }

        .cake-img {
            width: 240px;
            height: 300px;
        }

        .btn {
            border: 1px solid;
            background-color: white;
            text-transform: uppercase;
            font-size: 20px;
            padding: 10px 20px;
            font-weight: 300;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            border-radius: 5px;s
            margin: 0 10px;
        }

        .one {
            color: #4cc9f0;
            box-shadow: 10px 10px 60px 6px #4cc9f0;
            height: 30px;
            width: 150px;
            text-align: center;
            line-height: 30px;
        }

        .btn:hover {
            color: white;
            border: 0;
        }
        .btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .one:hover {
            background-color: #ffe445;
            box-shadow: 10px 10px 40px 6px #ffe445;
        }

        .two {
            color: #ff1b1b;
            box-shadow: 10px 10px 40px 6px #fc6767;
            height: 30px;
            width: 150px;
            text-align: center;
            line-height: 30px;
        }

            .two:hover {
                background-color: #ffe445;
                box-shadow: 10px 10px 40px 6px #ffe445;
            }

        .pic {
            font-weight: 300;
            text-align: center;
            display: inline-block;
        }

        div{
            display: inline-block;
        }
        .cake-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .cake-img {
            width: 240px;
            height: 300px;
        }